.contenedor {
    display: grid;
    grid-template-areas:
        ' A A A A'
        ' B B B B'
        ' C D D D'
        ' E E E E';
}

header {
    grid-area: A;
    background-color: #2c63db;
    color:white;
}

nav {
    grid-area: B;
    background-color: #079683;
}

aside {
    grid-area: C;
    background-color: #f438e4;
}

main {
    grid-area: D;
    background-color:#E6E2C3;
}

footer {
    grid-area: E;
    background-color: #010203;
    color: white;
}

.centrado{
    text-align: center;
}


/*Menu*/
.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-horizontal a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    margin: 4px;
    display: inline-block;
}

.menu-aside{
    list-style: none;
    padding: 4px;
 
}
.menu-aside  a{

    text-decoration: none;
    padding: 10px 40px;
    margin: 4px;
    background-color: blue;
    color: white;
    display:block
}

@media (max-width: 500px) {

    .contenedor {
        display: grid;
        grid-template-areas:
            ' A A A A'
            ' B B B B'
            ' D D D D'
            ' . C C .'
            ' E E E E';
    }
    
}
